<div class="home-background-img-container">
  <%= image_tag('background2.jpg') %>
</div>

<div class="home-heading">
  <h1>Welcome To Spinelli Space Shop</h1>
</div>

<div class="home-main-container">
  <div class="home-table-container">
    <div class="home-table-title">
      <h2>Product List</h2>
    </div>
    <ul class="home-products-list">
      <% @products.each do |product| %>
        <% if product.visibility %>
          <li>
            <div>
              <%= image_tag product.photo_url(:homepage) %>
            </div>
            <p><%= product.name %></p>
            <p>$<%= product.unitprice %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="home-login">
<% unless user_signed_in? %>
  <%= link_to 'Login To Continue', home_path_url %>
<% else %>
  <%= link_to 'Main Products Page', products_path %>
<% end %>
</div>
