<div class="home-background-img-container">
  <%= image_tag('background2.jpg') %>
</div>

<div class="home-heading">
  <h1>Welcome To Spinelli Space Shop</h1>
</div>

<div class="home-table-container">
  <h2>Product List</h2>
  <table>
    <tbody>
      <% @products.each do |product| %>
        <% if product.visibility %>
          <tr>
            <td><%= image_tag product.photo_url(:homepage) %><td>
            <td><%= product.name %><td>
            <td>$<%= product.unitprice %><td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<% unless user_signed_in? %>
  <div class="home-login">
    <%= link_to 'Login To Continue', home_path_url %>
  </div>
<% else %>
  <%= link_to 'Main Products Page', products_path %>
<% end %>
