<p id="notice"><%= notice %></p>

<h1>Your Shopping Cart</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Product</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <% total = 0%>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= image_tag purchase.product.photo_url(:thumb) %></td>
        <td><%= purchase.product.name %></td>
        <td>$<%= purchase.product.unitprice %></td>
        <td><%= link_to 'Remove', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% total += purchase.product.unitprice %>
    <% end %>
  </tbody>
</table>
<h3>Total: $<%= total %></h3>
<br>

<%= link_to 'Continue Shopping', products_path %>
