<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @purchase.cart %>
</p>

<p>
  <strong>Product:</strong>
  <%= @purchase.product %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
