<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cart.user.email %>
</p>

<p>
  <strong>Products in Cart:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% total = 0 %>
    <% @cart.products.each do |product| %>
      <tr>
        <td><%= image_tag product.photo_url(:thumb) %></td>
        <td><%= product.name %></td>
        <td>$<%= product.unitprice %></td>
      </tr>
      <% total += product.unitprice %>
    <% end %>
  </tbody>
</table>
<h3>Total: $<%= sprintf('%0.2f', total) %></h3>

<%= link_to 'Back', users_path %>
