
<p id="notice"><%= notice %></p>

<% if !current_user.admin %>
  <%= link_to 'Go To Cart', purchases_path %>
<% end %>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Stock Volume</th>
      <th>Unit Price</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.photo_url(:thumb) %><td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.stockvolume %></td>
        <td><%= product.unitprice %></td>
        <td><%= link_to 'Show', product %></td>
        <% if current_user.admin %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin %>
  <%= link_to 'New Product', new_product_path %><br><br>
  <%= link_to 'Manage Users', users_path %>
<% end %>
