<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.photo_url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock Volume:</strong>
  <%= @product.stockvolume %>
</p>

<p>
  <strong>Unit Price:</strong>
  <%= @product.unitprice %>
</p>

<% if current_user.admin %>
  <p>
    <strong>Visible:</strong>
    <%= @product.visibility %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
<% else %>
  <%= link_to 'Add to Cart', purchases_path(product_id: @product.id, cart_id: @cart.id, quantity: 1), method: :post %> |
<% end %>
<%= link_to 'Back', products_path %>
